table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}
tr {
  height: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-scrollable {
  height: 440px;
  overflow-y: auto;
  overflow-x: auto;
}